# Environment
.env
.env.*

# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
postgres_data/

# Coverage
.coverage
htmlcov/
.pytest_cache/

# Misc
*.swp